.top {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 40px;
    border: red dashed
}

.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 270px;
    padding-left: 270px;
    border: pink solid;
    margin:0px;
}

.logo{
    display:flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin: 0
}

.content {
    display: flex;
    border: red dashed;
    height: 250px;
}

.left{
    display: flex;
    border: green dashed;
    flex-direction: column;
    flex: 4 1 0;
    padding: 3px;
    
}

.right{
    display: flex;
    flex: 3 1 0
}

.button-one{
    display: flex;
    width: 200px;
}

.boxes{
    display: flex;
    border: black, dashed;
    justify-content: space-around;
}

.title{
    display: flex;
    justify-content: center;
    border: black dashed

}

.speaker{
    display: flex;
    justify-content: flex-end;
   margin-right: 110px;
}

.quote{
    margin-right:80px ;
    margin-left:80px ;
}

.alignment{
    display: flex;
    justify-content: center;
}

.bottom{
    display:flex;
    border: solid black;
    flex-wrap: wrap;
    flex-direction: column;
    height:;
    width: 600px
}

.button-two{
   margin-left: auto;
   margin-bottom:;
   width: 100px;
   border:green dashed
   
}